html,
body {
  margin: 0px;
  padding: 0px;
  height: 800px;
  width: 400px;
}

#preferencesContent {
  display: none;
}

/* Style for the iframe */
.iframe-preferences {
  border: none;
  width: 100%;
  height: 100%;
}

.has-background-orange {
  background-color: rgb(254, 108, 9);
}

.no-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  flex: 1 0 50%; /* Adjust column widths as needed */
}

.modal-width {
  width: 375px;
  border-radius: 5px;
}

.remove-navbar-item {
  width: 0px;
  padding: 0px;
  margin: 0px;
}

.max-carousel-image-height {
  max-height: 100px;
}

body {
  padding: 2em 0;
  margin: 0;
  min-height: 100vh;
}

.general__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.carousel-container {
  --widthItem: 300px; /* Adjusted default width */
  --heightItem: 200px; /* Adjusted default height */
  width: var(--widthItem);
  height: var(--heightItem);
  perspective: 800px;
}

.carousel-item {
  color: white;
  opacity: 0.8;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: opacity 0.5s;
  font-size: 8px;
  width: 100%; /* Ensure items occupy full width */
  height: 100%; /* Ensure items occupy full height */
}

.carousel {
  --rotatey: 0;
  font-size: 2rem;
  position: relative;
  transform: rotatey(var(--rotatey));
  transform-style: preserve-3d;
  user-select: none;
  cursor: grab;
}

.carousel-item:hover {
  opacity: 1;
}

.carousel,
.carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-item:nth-child(1) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #fbd52d, #ef3a7b);
}

.carousel-item:nth-child(2) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #ff70af, #5fa8f5);
}

.carousel-item:nth-child(3) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #0cebeb, #29ffc6);
}

.carousel-item:nth-child(4) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #88f7f9, #048fff);
}

.carousel-item:nth-child(5) {
  --rotate: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #0093e9, #80d0c7);
}

.carousel-item:nth-child(6) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #cf91ff, #5782f5);
}

@media screen and (max-width: 450px) {
  .carousel-container {
    --widthItem: 200px; /* Set a smaller but reasonable width */
    --heightItem: 150px; /* Set a smaller but reasonable height */
  }
}
