html, body {
    margin: 0px;
    padding: 0px;
    height: 800px;
    width: 400px;
}

#preferencesContent {
    display: none;
}

/* Style for the iframe */
.iframe-preferences {
    border: none;
    width: 100%;
    height: 100%;
}