/* Whole Extension Formatting*/
html,
body {
  padding: 2em 0;
  margin: 0;
  min-height: 100vh;
  height: 800px;
  width: 400px;
}

/* Custom Colour because Bulma doesn't have orange.*/
.has-background-orange { 
  background-color: rgb(254, 108, 9);
}

/*Used where column sizes need to be custom set*/
.no-wrap {
  display: flex;
  flex-wrap: nowrap;
}

/* Adjust column widths as needed */
.column {
  flex: 1 0 50%; 
}

/*Sets custom width of modal*/
.modal-width {
  width: 375px;
  border-radius: 5px;
}

/* Hides navbar item when it shouldn't be displayed.*/
.remove-navbar-item {
  width: 0px;
  padding: 0px;
  margin: 0px;
}

/*Sets height of carousel items*/
.max-carousel-image-height {
  max-height: 100px;
}

/* Styling for Carousel items*/
.general__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  flex-direction: column;
}

/* Styling for image in carousel*/
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Sets things for outer container of carousel */
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

/* Styling for carousel container*/
.carousel-container {
  --widthItem: 300px;
  --heightItem: 200px;
  width: var(--widthItem);
  height: var(--heightItem);
  perspective: 800px;
}

/*Styling for carousel item*/
.carousel-item {
  color: white;
  opacity: 0.8;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: opacity 0.5s;
  font-size: 8px;
  width: 100%; /* Ensure items occupy full width */
  height: 100%; /* Ensure items occupy full height */
}

/*General carousel styling*/
.carousel {
  --rotatey: 0;
  font-size: 2rem;
  position: relative;
  transform: rotatey(var(--rotatey));
  transform-style: preserve-3d;
  user-select: none;
  cursor: grab;
}

/* Item that is hovered has complete opacity */
.carousel-item:hover {
  opacity: 1;
}

/* Styling for both carousel and carousel items*/
.carousel,
.carousel-item {
  width: 100%;
  height: 100%;
}

/*Styling for the first carousel item*/
.carousel-item:nth-child(1) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #fbd52d, #ef3a7b);
}

/*Styling for the second carousel item*/
.carousel-item:nth-child(2) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #ff70af, #5fa8f5);
}

/*Styling for the third carousel item*/
.carousel-item:nth-child(3) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #0cebeb, #29ffc6);
}

/*Styling for the fourth carousel item*/
.carousel-item:nth-child(4) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #88f7f9, #048fff);
}

/*Styling for the fifth carousel item*/
.carousel-item:nth-child(5) {
  --rotate: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #0093e9, #80d0c7);
}

/*Styling for the six carousel item*/
.carousel-item:nth-child(6) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #cf91ff, #5782f5);
}

/*Checks width of screen so that the carousel fits properly*/
@media screen and (max-width: 450px) {
  .carousel-container {
    --widthItem: 200px; /* Set a smaller but reasonable width */
    --heightItem: 150px; /* Set a smaller but reasonable height */
  }
}
